In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import os
import pandas as pd
from dotenv import load_dotenv, find_dotenv
from sqlalchemy import create_engine

In [4]:
# подгружаем .env
load_dotenv()

True

In [5]:
# Считываем все креды
src_host = os.environ.get('DB_SOURCE_HOST')
src_port = os.environ.get('DB_SOURCE_PORT')
src_username = os.environ.get('DB_SOURCE_USER')
src_password = os.environ.get('DB_SOURCE_PASSWORD')
src_db = os.environ.get('DB_SOURCE_NAME') 

dst_host = os.environ.get('DB_DESTINATION_HOST')
dst_port = os.environ.get('DB_DESTINATION_PORT')
dst_username = os.environ.get('DB_DESTINATION_USER')
dst_password = os.environ.get('DB_DESTINATION_PASSWORD')
dst_db = os.environ.get('DB_DESTINATION_NAME')

s3_bucket = os.environ.get('S3_BUCKET_NAME')
s3_access_key = os.environ.get('AWS_ACCESS_KEY_ID')
s3_secret_access_key = os.environ.get('AWS_SECRET_ACCESS_KEY')

In [7]:
def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# устанавливаем соединение с базой
conn = create_connection()

postgresql://mle_20241125_1fb4544208:7dfd7b6c2ec74dac88843f11a14a3bbb@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20241125_1fb4544208

In [11]:
df = pd.read_sql('select * from merged_realty_data', conn)
print(f'data shape = {df.shape}') 
df.head()

data shape = (141362, 19)

,id,floor,is_apartment,kitchen_area,living_area,rooms,studio,total_area,price,unit_price,building_id,build_year,building_type_int,latitude,longitude,ceiling_height,flats_count,floors_total,has_elevator
0,0,9,False,9.9,19.900000,1,False,35.099998,9500000.0,270655.282421,6220,1965,6,55.717113,37.781120,2.64,84,12,True
1,1,7,False,0.0,16.600000,1,False,43.000000,13500000.0,313953.488372,18012,2001,2,55.794849,37.608013,3.00,97,10,True
2,2,9,False,9.0,32.000000,2,False,56.000000,13500000.0,241071.428571,17821,2000,4,55.740040,37.761742,2.70,80,10,True
3,3,1,False,10.1,43.099998,3,False,76.000000,20000000.0,263157.894737,18579,2002,4,55.672016,37.570877,2.64,771,17,True
4,4,3,False,3.0,14.000000,1,False,24.000000,5200000.0,216666.666667,9293,1971,1,55.808807,37.707306,2.60,208,9,True

In [14]:
feature_cols = [col for col in df.columns if col not in ['id']]
is_duplicated_features = df.duplicated(subset=feature_cols, keep=False)
print(len(df[is_duplicated_features]))

17425

In [16]:
print(df[is_duplicated_features].sort_values(feature_cols))

            id  floor  is_apartment  kitchen_area  living_area  rooms  studio  \
124394  124394      1         False           0.0     0.000000      1   False
133873  133873      1         False           0.0     0.000000      1   False
76665    76665      1         False           0.0     0.000000      1   False
130029  130029      1         False           0.0     0.000000      1   False
32973    32973      1         False           0.0     0.000000      1   False
...        ...    ...           ...           ...          ...    ...     ...
88592    88592     55         False           0.0    49.700001      2   False
20036    20036     55         False           8.0     0.000000      1   False
20220    20220     55         False           8.0     0.000000      1   False
121908  121908     56         False          20.0   115.000000      3   False
121927  121927     56         False          20.0   115.000000      3   False

        total_area       price     unit_price  building_id  build_year  \
124394   15.600000   3890000.0  249358.968261           39        1904
133873   15.600000   3890000.0  249358.968261           39        1904
76665    20.200001   4248430.0  210318.308888         5573        1964
130029   20.200001   4248430.0  210318.308888         5573        1964
32973    25.000000   6150000.0  246000.000000        10855        1974
...            ...         ...            ...          ...         ...
88592   107.500000  26136344.0  243128.781395        23084        2015
20036    38.000000  16500000.0  434210.526316        21559        2010
20220    38.000000  16500000.0  434210.526316        21559        2010
121908  138.100006  28100000.0  203475.733223        23082        2015
121927  138.100006  28100000.0  203475.733223        23082        2015

        building_type_int   latitude  longitude  ceiling_height  flats_count  \
124394                  1  55.775223  37.677219            2.70           24
133873                  1  55.775223  37.677219            2.70           24
76665                   4  55.795319  37.721443            2.64          160
130029                  4  55.795319  37.721443            2.64          160
32973                   4  55.736382  37.491512            2.50          174
...                   ...        ...        ...             ...          ...
88592                   2  55.835487  37.658348            3.10          356
20036                   2  55.773930  37.470390            3.00          140
20220                   2  55.773930  37.470390            3.00          140
121908                  2  55.835487  37.658348            3.10          356
121927                  2  55.835487  37.658348            3.10          356

        floors_total  has_elevator
124394             3         False
133873             3         False
76665              5         False
130029             5         False
32973              9          True
...              ...           ...
88592             59          True
20036             58          True
20220             58          True
121908            57          True
121927            57          True

[17425 rows x 19 columns]

In [17]:
df = df[~is_duplicated_features].reset_index(drop=True)

In [ ]:
def remove_duplicates(data):
    feature_cols = data.columns.drop('customer_id').tolist()
    is_duplicated_features = data.duplicated(subset=feature_cols, keep=False)
    data = data[~is_duplicated_features].reset_index(drop=True)
    return data

In [21]:
df.isnull().sum()

id                   0
floor                0
is_apartment         0
kitchen_area         0
living_area          0
rooms                0
studio               0
total_area           0
price                0
unit_price           0
building_id          0
build_year           0
building_type_int    0
latitude             0
longitude            0
ceiling_height       0
flats_count          0
floors_total         0
has_elevator         0
dtype: int64

In [26]:
cols_with_nans = df.isnull().sum()
cols_with_nans = cols_with_nans[cols_with_nans > 0].index

In [28]:
for col in cols_with_nans:
    if df[col].dtype in [float, int]:
        fill_value = df[col].mean()
    elif df[col].dtype == 'object':
        fill_value = df[col].mode()[0]
    df[col] = df[col].fillna(fill_value)

In [29]:
def fill_missing_values(data):

    cols_with_nans = data.isnull().sum()
    cols_with_nans = cols_with_nans[cols_with_nans > 0].index

    for col in cols_with_nans:

        if data[col].dtype in [float, int]:
            fill_value = data[col].mean()
        elif data[col].dtype == 'object':
            fill_value = data[col].mode().iloc[0]

        data[col] = data[col].fillna(fill_value)

    return data

In [31]:
num_cols = df.select_dtypes(['float']).columns
threshold = 1.5
potential_outliers = pd.DataFrame()

for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    margin = threshold * IQR
    lower = Q1 - margin
    upper = Q3 + margin
    potential_outliers[col] = ~df[col].between(lower, upper)

outliers = potential_outliers.any(axis=1)

print(df[outliers])

            id  floor  is_apartment  kitchen_area  living_area  rooms  studio  \
31          34      8         False           8.5    19.000000      1   False
42          48      8         False          14.0    64.800003      3   False
43          49     22         False          12.0    60.000000      2   False
47          53     10         False          10.0    34.500000      2   False
52          58      9         False           0.0     0.000000      3   False
...        ...    ...           ...           ...          ...    ...     ...
123917  141337     22         False           0.0   110.000000      5   False
123918  141338     24         False           0.0   110.000000      5   False
123920  141340     39         False          10.0    80.000000      2   False
123923  141344     14         False          17.1    80.199997      3   False
123924  141345     12         False          12.0    53.799999      3   False

        total_area       price     unit_price  building_id  build_year  \
31       38.000000   5800000.0  152631.578947        15810        1992
42       93.300003  37000000.0  396570.190673        19189        2004
43       94.000000  22450000.0  238829.787234        22115        2012
47       55.000000  27500000.0  500000.000000         1930        1957
52      126.000000  39500000.0  313492.063492        24471        2019
...            ...         ...            ...          ...         ...
123917  179.000000  82000000.0  458100.558659        21544        2010
123918  184.000000  92000000.0  500000.000000        21544        2010
123920  112.000000  45000000.0  401785.714286        22087        2012
123923  136.000000  30000000.0  220588.235294        19578        2005
123924   97.239998  30990000.0  318696.016874        22477        2013

        building_type_int   latitude  longitude  ceiling_height  flats_count  \
31                      4  55.983387  37.152309            2.64          379
42                      2  55.703480  37.511040            3.00          284
43                      2  55.827671  37.487568            3.10          327
47                      1  55.782024  37.726665            3.00          226
52                      3  55.708664  37.590256            3.15          301
...                   ...        ...        ...             ...          ...
123917                  2  55.715485  37.479034            3.00          183
123918                  2  55.715485  37.479034            3.00          183
123920                  2  55.744308  37.419521            3.00          332
123923                  2  55.681267  37.582401            2.80          107
123924                  4  55.683201  37.648277            2.80          524

        floors_total  has_elevator
31                14          True
42                17          True
43                40          True
47                11          True
52                10          True
...              ...           ...
123917            24          True
123918            24          True
123920            40          True
123923            17          True
123924            20          True

[21969 rows x 19 columns]

In [1]:
def remove_outliers_iqr(data, threshold=1.5):    
    numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns
    mask = pd.Series([True] * len(data))

    for col in numeric_cols:        
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        margin = threshold * IQR
        lower = Q1 - margin
        upper = Q3 + margin
        potential_outliers[col] = ~df[col].between(lower, upper)
        
        mask &= potential_outliers


    cleaned_data = data[mask].reset_index(drop=True)
    print(f"\nИтог: удалено {len(data) - len(cleaned_data)} строк в сумме")
    return cleaned_data